.cardHeaderContainer{
    padding: 8px 12px;
    background-color: var(--bg-gray-card);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.cardContainer{
    display: flex;
    align-items: center;    
    justify-content: space-between;
    height: 20px;
}
.cardWrapper{
    display: flex;
    align-items: center;
}
.cardTitle{
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}
.cardCounter{
    opacity: 0.6;
    font-size: 12px;
    margin: 0px 8px 0 4px;
}
.Icon{
    cursor:pointer;
}
.cardIcons{
    display: flex;
    column-gap: 6px;
}