.topbarContainer{
    height: 68px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--gray-border);
    padding: 0 30px;
}
.topbarDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;

}
.leftContent{
    display: flex;
}
.title{
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
}
.Icon{
    width: 30px;
    height: 30px;
}
.leftIcons{
    margin-left: 24px;
    display: flex;
}
.leftIconWrapper:hover{
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.IconsContainer{
    display: flex;
    column-gap: 4px;
}
.leftDivider{
    width: 1px;
    height: 30px;
    background-color: var(--main-color);
    margin: 0 20px;
    opacity: 0.2;
}
.userPorfilePic{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.IconsItem{
    position: relative;
    cursor: pointer;
}
.msgCounter{
    position: absolute;
    left: 16px;
    top: 16px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    font-weight: 500;
    font-size: 11px;
    line-height: 11px;
    color: var(--white);
    background-color: var(--blue);
    display: grid;
    place-content: center;
}
.IconsContainerRight{
    display: flex;
    align-items: center;
    column-gap: 12px;
}
.rightIconWrapper{
    padding: 8px;
    border-radius: 8px;
    border: 1px solid var(--gray-border);
    display: flex;
    align-items: center;
    column-gap: 4px;
    position: relative;
}
.rightIconWrapper:hover{
    background-color: var(--bg-gray-sidebar);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.FilterViewWrapper{
    position: relative;
}
.ItemText{
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}

/* sort by dropdown css  */

.sortbyDropdown{
 position: absolute;
 background-color: var(--white);
 top: 44px;
 right: 0;
 width: 240px;
 height: 268px;
 z-index: 1;
 border-radius: 8px;
 filter: drop-shadow(0px 12px 24px rgba(174, 178, 193, 0.2));
 border: 1px solid rgba(7, 15, 33, 0.1);
}
.sortbyHead{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid rgba(7, 15, 33, 0.1);
}
.sortbyLeft{
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}
.sortbyLeft:hover{
    transform:translateY(-2px);
    transition: all 0.3s ease-out;
}
.sortHeadIcon{
    opacity: 0.6;
}
.sortHeadIconClose{
    cursor: pointer;
}
.sortHeadIconClose:hover{
    transform: rotate(45deg);
    transition: all 0.3s ease-out;
}
.sortbyTitle{
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
}
.sortbyContent{
    margin-top: 9px;
    padding-bottom: 12px;
}
.sortbyList{
    display: grid;
    row-gap: 4px;
}
.sortbyItem{
    padding: 8px 15px;
    width: 100%;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    cursor: pointer;
}
.sortbyItem:hover{
    background-color: var(--bg-dropdown-item);
    transition: all 0.3s ease-out;
}
.sortbyActive {
    background-color: var(--bg-dropdown-item);
}

@media only screen and (max-width:767px) {
    .sortbyDropdown{
        position: fixed;
        right: 12px;
        transform: translateY(4px);
    }
}

/* mobile responsive  */

@media only screen and (max-width: 1023px){
    .topbarContainer{
        padding: 0 12px;
        width: 100%;
    }
    .title{
        font-size: 20px;
    }
}

@media only screen and (max-width:767px) {
    .topbarContainer{
        width: 82vw;
        overflow-x: scroll;
        white-space: nowrap;
    }
    .IconsContainerRight{
        margin-left:8px;
    }

}
@media only screen and (max-width: 1023px) and (min-width: 767px) {
    .leftIcons{
        margin-left: 8px;
    }
    .leftDivider{
        margin: 0 8px;
    }
    .IconsItem , .pinnedActiveIcon{
        width: 28px;
        height: 28px;
    }
    .rightIconWrapper{
        padding: 3px;
    }
}


 /* filter by card menu css  */
 .closeIcon:hover{
    transform: rotate(45deg);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

 .sortByWrappar{
    position: relative;
 }

  /* filter card menu */

 .filterCardMenu{
    width: 373px;
    height: 947px;
    position: absolute;
    background: var(--white);
    top: -16px;
    right: 0;
    border-radius: 8px;
    border: 1px solid rgba(7, 15, 33, 0.1);
    filter: drop-shadow(0px 12px 24px rgba(174, 178, 193, 0.2));
    z-index: 2;
 }

.filterHead{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    padding: 10px 20px 10px 19px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    border-bottom: 1px solid rgba(7, 15, 33, 0.1);
}
.filterLabelContainer{
    display: flex;
    align-items: center;
    gap: 8px;
}
.filterByContent{
  padding:20px;
  display: grid;
  gap: 24px;
  height: 839px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-bottom: 1px solid rgba(7, 15, 33, 0.1);
}
.filterByProject{
    display: grid;
    gap: 16px;
}
.FilterLabel{
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
}
.filterProjectItem{
    display: flex;
    align-items: center;
    column-gap: 12px;
}
.FilterLabelWrapper{
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: rgba(7, 15, 33, 0.7);
    display: flex;
    align-items: center;
    gap: 6px;
}
.filterProjectBox{
    display: grid;
    gap:12px;
}
.filterCardCheckbox{
    width: 18px;
    height: 18px;
    opacity:  0.4;
}
.filterCardCheckbox:checked{
    opacity: 1;
}
.FilterProjectDot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.showAllButton{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: var(--blue);
    cursor: pointer;
}
.showAllButton:hover{
    opacity: 0.8;
}

/* filter by tags css  */
.filterTagsLabel{
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    padding: 2px 6px;
    color: rgba(7, 15, 33, 0.8);
    border-radius: 23px;
}

.filterAssignProfile{
    width:24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 2px;
}
.FilterByButtons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px 12px 19px;
}
.filterByBtnRight{
  display: flex;
  align-items: center;
  gap: 4px;
}
.formSubmitBtn{
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 14px;
    line-height:20px;
    background-color: transparent;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    color: rgba(7, 15, 33, 0.5);
}
.formSubmitBtn:hover{
    transform: translateY(-2px);
    transition: all 0.3s ease-out;
}
.FormBlueBtn{
    color: var(--white);
    border: 1px solid rgba(7, 15, 33, 0.05);
    background-color: var(--blue);
}
.formPurpleBtn{
    border: 1px solid rgba(7, 15, 33, 0.1);
    padding: 8px 12px;
    color: var(--purple);
}.formPurpleBtn:hover{
    border: 1px solid var(--purple);
    transform: translateY(0px);
}

@media screen  and (min-width:767px) and (max-width:1023px){
    .filterCardMenu{
        width: 310px;
     }
}

@media screen  and (max-width:767px){
    .filterCardMenu{
        height: auto;
        width: 260px;
        position: fixed;
        top: 76px;
        right: 2%;

     }
     .filterByContent{
        height: 440px;
      }
      .FilterByButtons{
        flex-wrap: wrap;
        row-gap: 8px;
      }
      .filterByBtnRight{
        justify-content: space-between;
        width: 100%;
      }
}
@media screen  and (max-width:539px){
    .filterByContent{
        height: 380px;
      }
}

  
/* list action menu dropdown  */

.listActionMenu{
    width: 369px;
    height: 303px;
    background-color: var(--white);
    position: absolute;
    right: 0%;
    top:44px;
    z-index: 2;
    border-radius: 8px;
    filter: drop-shadow(0px 12px 24px rgba(174, 178, 193, 0.2));
    border: 1px solid rgba(7, 15, 33, 0.1);

}
.listHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    border-bottom: 1px solid rgba(7, 15, 33, 0.1);
}
.viewLabelHead{
    display: flex;
    align-items: center;
    gap: 6px;
}
.listActionWrapper{
    margin-top: 11px;
    display: grid;
    gap: 6px;
}
.listActionItem{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(7, 15, 33, 0.7);
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.listActionItem:hover{
    background-color: var(--bg-dropdown-item);
    transition: all 0.3s ease-out;
}
.listItemActive{
    background-color: var(--bg-dropdown-item);
}
.listActionLabel{
    display: flex;
    align-items: center;
    column-gap: 16px;
}

@media screen and (max-width:1200px) {
    .listActionMenu{
        width: 280px;
    }
}
@media screen and (max-width:767px) {
    .listActionMenu{
        position: fixed;
        top: 136px;
        width: 260px;
        right: 24vw;
    }
}
@media screen and (max-width:539px) {
    .listActionMenu{
        right: 10vw;
    }
}

 /* delete card  */
.DeleteIcon:hover{
    transform: scale(1.2);
    transition: all 0.3s ease;
}
.deleteCardWrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--main-color);
    opacity: 0.5;
    z-index: 5;
}
.DeleteCard{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 12;
}
 .deleteCardContainer{
    width: 492px;
    height: 248px;
    background-color: var(--white);
    z-index: 6;
    border: 1px solid rgba(7, 15, 33, 0.1);
    border-radius: 8px;
 }
 .deletecardHead{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 24px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    border-bottom: 1px solid rgba(7, 15, 33, 0.1);
 }
.deleteCardContent{
    height:90px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(7, 15, 33, 0.8);
    padding: 20px 24px;
    border-bottom: 1px solid rgba(7, 15, 33, 0.1);
}
.deleteCardBtns{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 88px;
    gap: 8px;
    padding: 0 24px;
}
.formDeleteBtn {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    width: 88px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    color: rgba(7, 15, 33, 0.8);
}
.formDeleteBtn:hover{
    transform: translateY(-2px);
    transition: all 0.3s ease-out;
}
.DeleteBtn{
    background-color: var(--orange);
    color: var(--white);
}

@media only screen and (max-width:767px) {
    .deleteCardContainer{
        width: 340px; 
    }
    
}
@media only screen and (max-width:539px) {
    .deleteCardContainer{
        width: 320px;
    }
    
}

/* pin card Container  */

.PinnedCardContainer{
    position: absolute;
    width: 297px;
    height: 671px;
    overflow: hidden;
    background-color: var(--white);
    z-index: 1;
    top: 44px;
    right: 0;
    border: 1px solid rgba(7, 15, 33, 0.1);
    border-radius: 8px;
    box-shadow: 0px 12px 24px rgba(174, 178, 193, 0.2);
}
.PinnedCardHead{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 19px 16px 19px;
  border-bottom: 1px solid rgba(7, 15, 33, 0.1);
}
.PinnedHeadLeft{
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
}
.PinnedSearchBar{
    padding: 8px 19px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.SearchIcon{
    width: 16px;
    height: 16px;
    opacity: 0.4;
}
.SearchInput{
    outline:none;
    border:none;
    width: 100%;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}
.SearchInput::placeholder{
    color: rgba(7, 15, 33, 0.4);
}
.PinnedCardContent{
    background-color: var(--bg-gray-card);
    height: 584px;
    overflow-y: scroll;
    padding: 16px 20px;
    display: grid;
    gap: 12px;
}

@media only screen and (max-width:767px){
     .PinnedCardContainer {
        position: fixed;
        top: 134px;
        right: 10%;
        height: auto;
     }
     .PinnedCardContent{
        height: 440px;
     }
     
}

@media screen  and (max-width:539px){
    .PinnedCardContent{
        height: 380px;
      }
}

/* Archive card css  */
.archiveCardContainer{
    background-color: var(--white);
    position: absolute;
    top: 44px;
    right: 0;
    width: 297px;
    height: 680px;
    z-index: 1;
    border-radius: 8px;
    border: 1px solid rgba(7, 15, 33, 0.1);
    box-shadow: 0px 12px 24px rgba(174, 178, 193, 0.2);
    overflow: hidden;
}
.archiveBtnWrapper{
    display: flex;
    align-items: center;
}
.archiveCardBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 8px;
    gap: 4px;
    width: 100px;
    height: 30px;
    left: 100px;
    background: #E6E7E9;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(7, 15, 33, 0.8);
    outline: none;
    border: none;
    cursor: pointer;
}
.archiveCardBtn:hover{
    opacity: 0.8;
    transition: all 0.3s ease-out;
}
.snoozeBtn{
    border-radius: 0px 8px 8px 0px;
}
.archiveBtn{
    border-radius: 8px 0px 0px 8px;
}
/* snooze button  */
.activeArchive{
    background: var(--purple) !important;
    color: var(--white) !important;
  }
  
.archiveCardWrapper{
    background-color: var(--white);
    border-radius: 8px;
}
.cardStatus{
    height: 24px;
    padding: 4px 8px;
    background-color: #E9E5FF;
    border-radius: 0 0 8px 8px;
    display: flex;
    align-items: center;
    gap: 4px;
}
.cardStatusText{
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: rgba(7, 15, 33, 0.6);
}
.statusLabel{
    color: var(--main-color) ;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
}
@media only screen and (max-width:767px){
    .archiveCardContainer{
       position: fixed;
       top: 134px;
       right: 10%;
       height: auto;
    }
}


/* save as view card css  */

.saveAsViewCard{
    z-index: 2;
    position: absolute;
    top: 33vh;
    left: 12%;
    display: flex;
    align-items:flex-end;
    justify-content: center;
}
.saveAsCardContainer{
    z-index: 10;
    width:581px;
    height:364px;
    background-color:var(--white);
    border: 1px solid rgba(7, 15, 33, 0.1);
    border-radius: 8px;
    box-shadow: 0px 12px 24px rgba(174, 178, 193, 0.2);
}
.saveAsHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 24px 22px 24px;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    border-bottom: 1px solid rgba(7, 15, 33, 0.1);
}
.saveAsLeft{
    display: flex;
    align-items: center;
    gap: 12px;
}
.saveAsContent{
    padding: 30px 24px;
    border-bottom: 1px solid rgba(7, 15, 33, 0.1);
    display: grid;
    gap: 16px;
}
.viewNameHead{
    display: grid;
    gap: 8px;
    position: relative;
}
.viewLabel{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}
.viewInputHead{
    display: flex;
    align-items: center;
    height: 46px;
    border: 1px solid rgba(7, 15, 33, 0.1);
    border-radius: 8px;
}
.viewColorHead{
    display: flex;
    align-items: center;
    padding:0 8px;
    gap: 2;
    height: 100%;
    border-left: 1px solid rgba(7, 15, 33, 0.1);
    cursor: pointer;
}
.viewColorHead:hover{
    background-color: var(--bg-gray-sidebar);
    transition: all 0.3s ease;
}
.viewColorHead:hover .chevronHover , .SelectChevron:hover{
    transform: rotate(180deg);
    transition: all 0.5s ease-in-out;
}
.SelectChevron{
    margin-right: 16px;
    cursor: pointer;
}
.viewInput{
    width: 100%;
    margin: 0 16px;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.viewInput::placeholder{
    opacity: 0.4;
}
.ViewColor{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none !important;
    width: 26px;
    height: 26px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}
.ViewColor::-webkit-color-swatch{
    border-radius: 4px;
    border: none;
}
.SaveBtnWrapper{
    display: flex;
    justify-content: flex-end;
    padding: 20px 24px;
    align-items: center;
}
.formSaveBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    width: 79px;
    height: 44px;
    background: var(--blue);
    border-radius: 8px;
    border: none;
    color: var(--white);
    outline: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    cursor: pointer;
}
.formSaveBtn:hover{
    transform: translateY(-2px);
    transition: all 0.3s ease-in-out;
}
.SaveProfileContainer{
    background-color: var(--white);
    height: 384px;
    position: absolute;
    top: 95%;
    width:100%;
    border: 1px solid rgba(7, 15, 33, 0.1);
    box-shadow: 0px 12px 24px rgba(174, 178, 193, 0.2);
    border-radius:0 0 8px 8px;
    border-top: 1px solid var(--blue);
    padding: 12px 0;
    overflow:hidden;
    overflow-y: scroll;
    display: grid;
    gap: 4px;

}

.SaveProfileDropdown{
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 12px 16px;
}
.SaveProfileDropdown:hover{
    background-color: var(--bg-dropdown-item);
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.SavePicWrapper{
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: rgba(7, 15, 33, 0.8);
}
 
@media only screen and (max-width:992px){
    .saveAsViewCard{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items:center;
        justify-content: center;
    }

}
@media only screen and (max-width:767px){
    .saveAsCardContainer{
        width:340px;
    }

}
 /* open Save card css  */
 @media only screen and (max-width:767px){
    .saveAsViewCardOpen{  
        bottom: 40% !important;
        transition: all 0.5s ease-out;
    }
  }

  
/* custom scrollbar width */
.filterByContent::-webkit-scrollbar , .PinnedCardContent::-webkit-scrollbar , .SaveProfileContainer::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
 .filterByContent::-webkit-scrollbar-track , .PinnedCardContent::-webkit-scrollbar-track, .SaveProfileContainer::-webkit-scrollbar-track{
    background: transparent;
  }
  
  /* Handle */
  .filterByContent::-webkit-scrollbar-thumb , .PinnedCardContent::-webkit-scrollbar-thumb , .SaveProfileContainer::-webkit-scrollbar-thumb {
  background: #cdcfd3;
  background-clip: padding-box;
  border-radius: 34px;
  border-top: 10px solid var(--white);
  }
