:root {
  --main-color: #070F21;
  --white:#fff;
  --blue:#0E8CFF;
  --pink: #FF3477;
  --yellow: #FF9F1A;
  --orange: #E74926;
  --purple: #6248FF;
  --purple-light: #70A0FF;
  --purple-dark-light: #8F76FF;
  --pink-light: #FFDEFC;
  --pink-dark-light: #FFA5F7;
  --yellow-light: #FFEEDE;
  --light-orange: #FFC690;
  --bg-circle-lightblue: #27E1BF;
  --green-light: #E4F5FF;
  --gray-dark: #DDE6FE;
  --gray-border:#EBECED;
  --bg-gray-sidebar:#F6F6FF;
  --bg-dropdown-item:#F5F5F6;
  --alert-yellow:#FAAD14;
  --alert-purple:#B0A1DF;
  --bg-gray-card:#EFF2F5;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--main-color);
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}

/* for show / hide items  */

.hidden {
  display: none;
}
.block {
  display: block;
}
.flex {
  display: flex;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
.main-container{
  display: flex;
}  
.main-content{
  width: 100%;
  min-height: 100vh;
  border-left: 1px solid var(--gray-border);
}

/* userNotification alerts  */

.alert-yellow {
  background-color:var(--alert-yellow) ;
}
.alert-purple{
  background-color: var(--alert-purple);
}

 /* dot colors  */
 .pinkDot{
  background-color: var(--pink);
}
.yellowDot{
  background-color: var(--yellow);
}
.lightOrange{
  background-color: var(--light-orange);
}
.pinkDarkLight {
  background-color: var(--pink-dark-light);
}
.BgPurple {
  background-color: var(--purple);
}
.BgPurpleLight {
  background-color: var(--purple-light);
}
.BgPurpleDarkLight {
  background-color: var(--purple-dark-light);
}
.BgYellowLight{
  background-color: var(--yellow-light);
}
.BgPinkLight{
  background-color: var(--pink-light);
}
.BgGreenLight{
  background-color: var(--green-light);
}
.BgGrayDark{
  background-color: var(--gray-dark);
}
.BgLightBlue{
  background-color: var(--bg-circle-lightblue);
}