:root {
  --white:#fff;
  --blue:#0E8CFF;
  --main-color: #070F21;
  --bg-circle-lightblue: #27E1BF;
  --gray-border:#EBECED;
  --bg-gray-sidebar:#F6F6FF;
  --alert-yellow:#FAAD14;
  --alert-purple:#B0A1DF;
  --bg-gray-card:#EFF2F5;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--main-color);
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}

/* for show / hide items  */

.hidden {
  display: none;
}
.block {
  display: block;
}
.flex {
  display: flex;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
.main-container{
  display: flex;
}  
.main-content{
  width: 100%;
  min-height: 100vh;
  border-left: 1px solid var(--gray-border);
}

/* userNotification alerts  */

.alert-yellow {
  background-color:var(--alert-yellow) ;
}
.alert-purple{
  background-color: var(--alert-purple);
}
