:root {
  --main-color: #070F21;
  --bg-circle-lightblue: #27E1BF;
  --gray-border:#EBECED;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--main-color);
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.main-container{
  display: flex;
}  
.main-container .sidebar{

}
