.headerContainer{
height: 76px;
display: flex;
align-items: center;
border-bottom: 1px solid var(--gray-border);
padding: 0 30px;
}
.headerWrapper{
    display: flex;
    width: 100%;
}
.headerDiv{
    display: flex;
    align-items: center;
    width: 100%;
}
.userNotifcations{
    height: 40px;
    display: flex;
    align-items: center;
    margin-right: 8px;
}
.userContainer{
    display: flex;
    align-items: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 0 5px 0 4px;
    background-color: #F0F1F2;
    height: 100%;
}
.userList {
    display: flex;
    align-items: center;
    column-gap: 4px;
}
.userPic{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.notificationCounter {
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    width: 24px;
    height: 20px;
    color: var(--white);
    border-radius: 4px;
    display: grid;
    place-content: center;
}
.userDivider{
    width: 1px;
    height: 24px;
    margin: 0 8px;
    background-color: var(--main-color);
    opacity: 0.1;
}
.dropDownIcon{
    width: 40px;
    height: 40px;
    border: 1px solid var(--gray-border);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: var(--white);
    display: grid;
    place-content: center;
    cursor: pointer;
}
.IconGroup{
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.IconWrapper{
    width: 40px;
    height: 40px;
    border: 1px solid var(--gray-border);
    border-radius: 8px;
    display: grid;
    place-content: center;
    cursor: pointer;
}
.IconWrapper:hover{
    background-color: var(--bg-gray-sidebar);
    transition: all 0.2s ease-in-out;
}
.plusBgColor{
    background-color: var(--blue);
}
.plusBgColor:hover{
    background-color: var(--blue);
    opacity: 0.8 !important;
}
.searchBar{
    display: flex;
    padding: 10px 12px;
    border: 1px solid var(--gray-border);
    border-radius: 8px;
    column-gap: 8px;
    width: 100%;
    margin: 0 8px;
}
.searchInput {
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #070F21;
    opacity: 0.4;
}
.userProfilePic{
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

/* mobile responsive  */

@media screen and (max-width:767px){
    .headerContainer{
        padding: 0 12px;
        width: 100%;
        overflow-x: scroll;
    }
    .headerDiv{
        width: 242px;
        overflow-x: scroll;
    }
    .searchInput{
        width: 160px;
    }
    .headerWrapper{
        justify-content: space-between;
        width: 100vw;
    }
    .mobileUserIcon{
        transform: translateX(-14vw);
    }

    .hiddenMobile{
        display: none;
    }
    .blockMobile{
        display: block;
    }
    .flexMobile{
        display: flex;
    }

}

@media screen and (min-width:767px){
    .hidden {
        display: none;
    }
}

@media only screen and (max-width: 819px) and (min-width: 767px){
   
    .headerContainer{
        padding: 0 12px;
    }
    .headerDiv{
        width: auto;
    }
    .headerWrapper{
        width: auto;
    }
    .IconWrapper{
        width: 34px;
        height: 34px;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 819px){
    .headerContainer{
        padding: 0 12px;
    }
    .headerWrapper{
        width: auto;
    }
   
}

