.topbarContainer{
    height: 68px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--gray-border);
    padding: 0 30px;
}
.topbarDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;

}
.leftContent{
    display: flex;
}
.title{
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
}
.Icon{
    width: 30px;
    height: 30px;
}
.leftIcons{
    margin-left: 24px;
    display: flex;
}
.leftIconWrapper:hover{
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.IconsContainer{
    display: flex;
    column-gap: 4px;
}
.leftDivider{
    width: 1px;
    height: 30px;
    background-color: var(--main-color);
    margin: 0 20px;
    opacity: 0.2;
}
.userPorfilePic{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.IconsItem{
    position: relative;
    cursor: pointer;
}
.msgCounter{
    position: absolute;
    left: 16px;
    top: 16px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    font-weight: 500;
    font-size: 11px;
    line-height: 11px;
    color: var(--white);
    background-color: var(--blue);
    display: grid;
    place-content: center;
}
.IconsContainerRight{
    display: flex;
    align-items: center;
    column-gap: 12px;
}
.rightIconWrapper{
    padding: 8px;
    border-radius: 8px;
    border: 1px solid var(--gray-border);
    display: flex;
    align-items: center;
    column-gap: 4px;
}
.rightIconWrapper:hover{
    background-color: var(--bg-gray-sidebar);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.ItemText{
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}

/* sort by dropdown css  */

.sortbyDropdown{
 position: absolute;
 background-color: var(--white);
 top: 44px;
 right: 0;
 width: 240px;
 height: 268px;
 z-index: 1;
 border-radius: 8px;
 filter: drop-shadow(0px 12px 24px rgba(174, 178, 193, 0.2));
 border: 1px solid rgba(7, 15, 33, 0.1);
}
.sortbyHead{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid rgba(7, 15, 33, 0.1);
}
.sortbyLeft{
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}
.sortbyLeft:hover{
    transform:translateY(-2px);
    transition: all 0.3s ease-out;
}
.sortHeadIcon{
    opacity: 0.6;
}
.sortHeadIconClose{
    cursor: pointer;
}
.sortHeadIconClose:hover{
    transform: rotate(45deg);
    transition: all 0.5s ease-out;
}
.sortbyTitle{
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
}
.sortbyContent{
    margin-top: 9px;
    padding-bottom: 12px;
}
.sortbyList{
    display: grid;
    row-gap: 4px;
}
.sortbyItem{
    padding: 8px 15px;
    width: 100%;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    cursor: pointer;
}
.sortbyItem:hover{
    background-color: var(--bg-dropdown-item);
    transition: all 0.3s ease-out;
}
.sortbyActive {
    background-color: var(--bg-dropdown-item);
}

@media only screen and (max-width:767px) {
    .sortbyDropdown{
        position: fixed;
        right: 12px;
        transform: translateY(4px);
    }
}

/* mobile responsive  */

@media only screen and (max-width: 1023px){
    .topbarContainer{
        padding: 0 12px;
        width: 100%;
    }
    .title{
        font-size: 20px;
    }
}

@media only screen and (max-width:767px) {
    .topbarContainer{
        width: 82vw;
        overflow-x: scroll;
        white-space: nowrap;
    }

}
@media only screen and (max-width: 1023px) and (min-width: 767px) {
    .leftIcons{
        margin-left: 8px;
    }
    .leftDivider{
        margin: 0 8px;
    }
    .IconsItem{
        width: 28px;
        height: 28px;
    }
    .rightIconWrapper{
        padding: 3px;
    }
}